<DIV class="row"></DIV>
<DIV class="row"></DIV>

<DIV class="col-md-12 jumbotron" style="margin-top: 150px;">
    <H1> Bienvenido al Gestor hotelero  </H1>
    <DIV class="col-sm-8 " style="margin-top: 30px">
    <P><SPAN>Este sistema le permitira reserva de habitaciones de nuestro complejo.</SPAN></P>
                </DIV>
<DIV class="col-sm-12 " style="margin-top: 30px">
   <SPAN>Recuerde que necesitara el Nro de DNI de el cliente para concretar reservas.Podra hacer reservas como cliente y cotizarlas segun cantidad de días. </SPAN>
                </DIV>
<DIV class="col-sm-6 right" style="margin-top: 30px">    
    <a class="btn btn-primary right" routerLink="/clientes" role="button btn-info">Continuar</a></DIV>

</DIV>
